<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid p-2">
        <a class="navbar-brand" href="#">POSTBOOK</a>
        <button data-bs-toggle="collapse" type="button" class="navbar-toggler bt-sm"
            (click)="!isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="navbar-nav">
                <li class="nav-item" (click)="isCollapsed = !isCollapsed">
                    <a class="nav-link" [routerLink]="['/']">
                        <i class="fa fa-home">&nbsp;</i><span class="badge badge-pill badge-danger">Posts</span>
                    </a>
                </li>
                <li class="nav-item" (click)="isCollapsed = !isCollapsed">
                    <a class="nav-link" [routerLink]="['album']">
                        <i class="fa fa-book">&nbsp;</i><span class="badge badge-pill badge-warning">Albuns</span>
                    </a>
                </li>
                <ng-container *ngIf="isLogin$ | async as tokenUser">
                    <ng-container *ngIf="tokenUser.token ; else auth">
                        <li class="nav-item" (click)="isCollapsed = !isCollapsed">
                            <a class="nav-link" (click)="logout()" type="button">
                                <i class="fa fa-sign-out">&nbsp;</i><span
                                    class="badge badge-pill badge-warning">Logout</span>
                            </a>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>

<ng-template #auth>
    <li class="nav-item" *ngIf="isLogin$ | async as TokenUser" (click)="!isCollapsed = !isCollapsed">
        <a class="nav-link" [routerLink]="['./auth']">
            <i class="fa fa-sign-in">&nbsp;</i><span class="badge badge-pill badge-warning">Login</span>
        </a>
    </li>
    <li class="nav-item" *ngIf="isLogin$ | async as TokenUser" (click)="!isCollapsed = !isCollapsed">
        <a class="nav-link" [routerLink]="['./auth/newuser']">
            <i class="fa fa-user-plus">&nbsp;</i><span class="badge badge-pill badge-warning">Cadastrar</span>
        </a>
    </li>
</ng-template>