<section class="container py-5">
    <h4 class="text-center">Novo Usuario</h4>

    <form class="form mt-4" [formGroup]="formGroup" (submit)="createUser()">
        <div class="mb-3">
            <input placeholder="Nome" class="form-control" formControlName="name" />
            <app-message *ngIf="formGroup.get('name')?.errors?.required && formGroup.get('name')?.touched"
                [type]="messageTypes.Error">Nome obrigatório</app-message>
        </div>

        <div class="mb-3">
            <input type="email" placeholder="Email" class="form-control" formControlName="email" />
            <app-message *ngIf="formGroup.get('email')?.errors?.required && formGroup.get('email')?.touched"
                [type]="messageTypes.Error">Email Obrigatório</app-message>

            <app-message *ngIf="formGroup.get('email')?.errors?.email && formGroup.get('email')?.touched"
                [type]="messageTypes.Error">Email invalido
            </app-message>
        </div>

        <div class="mb-3">
            <input type="password" placeholder="Password" class="form-control" formControlName="password" />
            <app-message *ngIf="formGroup.get('password')?.errors && formGroup.get('password')?.touched"
                [type]="messageTypes.Error">Password Obrigatório
            </app-message>
        </div>

        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-dark rounded-pill">CONFIRMA</button>
        </div>
    </form>

    <p>Já é usuário? <a class="link-secondary" [routerLink]="['../']"> acesse aqui!</a></p>
</section>